Node-red/URL数据映射流.json
[
    {
        "id": "b52c6fb0c70a8b0e",
        "type": "tab",
        "label": "极简节拍采集 (V5 - 本地时间)",
        "disabled": false,
        "info": "【V5 极简版 - 本地时间】\n此流程完全基于您提供的参考代码构建。\n\n1. 不再有 API 接口，只负责写入数据库。\n2. 【已修改】使用 toLocalSQLString() 辅助函数来存储本地时间。\n3. 使用一个“动态” Function 节点处理所有工位。\n4. 写入 'takt_logs' 表 (需要使用 V5 - 本地时间版 的表结构)。"
    },
    {
        "id": "e582a7d35a4d8811",
        "type": "function",
        "z": "b52c6fb0c70a8b0e",
        "name": "计算节拍 (V5 动态逻辑)",
        "func": "// 辅助函数：转为本地时间 SQL 字符串\nfunction toLocalSQLString(date) {\n    if (!date) return null;\n    const offset = date.getTimezoneOffset() * 60000;\n    const localDate = new Date(date.getTime() - offset);\n    return localDate.toISOString().replace('T', ' ').replace('Z', '');\n}\n\n// === 配置：超过此秒数视为停机/重启 ===\nconst MAX_VALID_TAKT = 600;\n// ===================================\n\nconst contextKey = \"last_time_\" + msg.payload.stationId;\nconst lastTimeStr = flow.get(contextKey);\nconst now = new Date();\nconst now_str = toLocalSQLString(now);\n\nlet interval = null;\nlet prevTimeStr = null;\n\nif (lastTimeStr) {\n    const lastTime = new Date(lastTimeStr);\n    const diffMs = now.getTime() - lastTime.getTime();\n    const calcInterval = parseFloat((diffMs / 1000).toFixed(3));\n\n    // 关键逻辑：只有在合理范围内才记录数值，否则记为 null\n    if (calcInterval > 0 && calcInterval <= MAX_VALID_TAKT) {\n        interval = calcInterval;\n    } else {\n        node.warn(`${msg.payload.stationName}: 间隔 ${calcInterval}s 超时，标记为重启`);\n        interval = null; // 数据库将存入 NULL\n    }\n    prevTimeStr = lastTimeStr;\n} else {\n    node.warn(`${msg.payload.stationName}: 首次启动`);\n}\n\n// 更新状态\nflow.set(contextKey, now_str);\n\n// 写入数据库\nmsg.query = \"INSERT INTO takt_logs (station_id, station_name, trigger_time, prev_time, interval_seconds) VALUES ($1, $2, $3, $4, $5)\";\nmsg.params = [\n    msg.payload.stationId,\n    msg.payload.stationName,\n    now_str,\n    prevTimeStr,\n    interval // 可能是具体的秒数，也可能是 null\n];\n\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 480,
        "y": 180,
        "wires": [
            [
                "ef4e37341e565bc7",
                "2b3ac91d06e90e7a"
            ]
        ]
    },
    {
        "id": "ef4e37341e565bc7",
        "type": "postgresql",
        "z": "b52c6fb0c70a8b0e",
        "name": "写入pgsql (takt_logs)",
        "query": "",
        "postgreSQLConfig": "fd39fa3e68b1cafe",
        "split": false,
        "rowsPerMsg": 1,
        "outputs": 1,
        "x": 730,
        "y": 180,
        "wires": [
            []
        ]
    },
    {
        "id": "2b3ac91d06e90e7a",
        "type": "debug",
        "z": "b52c6fb0c70a8b0e",
        "name": "查看生成的SQL (V5)",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 740,
        "y": 240,
        "wires": []
    },
    {
        "id": "aa7f6fb9045d52ca",
        "type": "inject",
        "z": "b52c6fb0c70a8b0e",
        "name": "【模拟】ST-01 (工序A)",
        "props": [
            {
                "p": "payload",
                "v": "{\"stationId\":\"ST-01\",\"stationName\":\"B线-工序A-开始点\"}",
                "vt": "json"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 230,
        "y": 120,
        "wires": [
            [
                "e582a7d35a4d8811"
            ]
        ]
    },
    {
        "id": "0da2bc04464b928b",
        "type": "inject",
        "z": "b52c6fb0c70a8b0e",
        "name": "【模拟】ST-02 (工序B)",
        "props": [
            {
                "p": "payload",
                "v": "{\"stationId\":\"ST-02\",\"stationName\":\"B线-工序B-开始点\"}",
                "vt": "json"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 230,
        "y": 180,
        "wires": [
            [
                "e582a7d35a4d8811"
            ]
        ]
    },
    {
        "id": "0624f20918467b3d",
        "type": "inject",
        "z": "b52c6fb0c70a8b0e",
        "name": "【模拟】ST-03 (工序C)",
        "props": [
            {
                "p": "payload",
                "v": "{\"stationId\":\"ST-03\",\"stationName\":\"B线-工序C-开始点\"}",
                "vt": "json"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 230,
        "y": 240,
        "wires": [
            [
                "e582a7d35a4d8811"
            ]
        ]
    },
    {
        "id": "fd39fa3e68b1cafe",
        "type": "postgreSQLConfig",
        "name": "",
        "host": "127.0.0.1",
        "hostFieldType": "str",
        "port": 5432,
        "portFieldType": "num",
        "database": "postgres",
        "databaseFieldType": "str",
        "ssl": "false",
        "sslFieldType": "bool",
        "applicationName": "",
        "applicationNameType": "str",
        "max": 10,
        "maxFieldType": "num",
        "idle": 1000,
        "idleFieldType": "num",
        "connectionTimeout": 10000,
        "connectionTimeoutFieldType": "num",
        "user": "postgres",
        "userFieldType": "str",
        "password": "asdf6666",
        "passwordFieldType": "str"
    },
    {
        "id": "e8dafa0c43cfa119",
        "type": "global-config",
        "env": [],
        "modules": {
            "node-red-contrib-postgresql": "0.15.4"
        }
    }
]
