Node-red/模拟节拍流.json
[
    {
        "id": "086840c39fd2513d",
        "type": "tab",
        "label": "Takt Logs API (V5)",
        "disabled": false,
        "info": "从 PG 表 takt_logs 读取节拍数据，提供 /api/takt-logs 接口（时间为本地字符串）"
    },
    {
        "id": "a741786df42508ad",
        "type": "http in",
        "z": "086840c39fd2513d",
        "name": "GET /api/takt-logs",
        "url": "/api/takt-logs",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 150,
        "y": 100,
        "wires": [
            [
                "5d6265384e5ecfd8"
            ]
        ]
    },
    {
        "id": "5d6265384e5ecfd8",
        "type": "postgresql",
        "z": "086840c39fd2513d",
        "name": "SELECT takt_logs (local time)",
        "query": "SELECT\n    id,\n    station_id,\n    station_name,\n    to_char(trigger_time, 'YYYY-MM-DD HH24:MI:SS') AS trigger_time,\n    to_char(prev_time,    'YYYY-MM-DD HH24:MI:SS') AS prev_time,\n    interval_seconds\nFROM takt_logs\nORDER BY trigger_time ASC\nLIMIT 500;",
        "postgreSQLConfig": "fd39fa3e68b1cafe",
        "split": false,
        "rowsPerMsg": "1",
        "outputs": 1,
        "x": 420,
        "y": 100,
        "wires": [
            [
                "b9e3a8f9a1b2e291"
            ]
        ]
    },
    {
        "id": "b9e3a8f9a1b2e291",
        "type": "function",
        "z": "086840c39fd2513d",
        "name": "映射为前端 JSON 结构",
        "func": "// === 配置 ===\nconst TARGET_TIME = 10.0; // 目标节拍\nconst SPARKLINE_POINTS = 50; // 增加点数，让曲线更丰富\n\nconst rows = msg.payload || [];\n\n// 临时结构\nconst uniqueStations = {};\nconst processedLogs = [];\nconst globalValidIntervals = [];\n\n// 1. 遍历数据\nrows.forEach((row, index) => {\n    const intervalVal = row.interval_seconds !== null ? Number(row.interval_seconds) : null;\n    const sName = row.station_name || row.station_id || '未知';\n    const sId = row.station_id;\n\n    if (!uniqueStations[sName]) {\n        uniqueStations[sName] = {\n            id: sId,\n            name: sName,\n            lastEventTime: row.trigger_time,\n            lastEventInterval: null,\n            lastValidInterval: null,\n            // === 新增：偏差字符串 (由后端计算) ===\n            diffText: '',\n            diffClass: '', // 虽然是样式类名，但由后端决定逻辑状态\n            recordCount: 0,\n            history: [],\n            _validHistory: []\n        };\n    }\n    const station = uniqueStations[sName];\n\n    station.recordCount++;\n    station.lastEventTime = row.trigger_time;\n    station.lastEventInterval = intervalVal;\n\n    if (intervalVal !== null && intervalVal > 0) {\n        station.lastValidInterval = intervalVal;\n        station.history.push(intervalVal);\n        station._validHistory.push(intervalVal);\n        globalValidIntervals.push(intervalVal);\n\n        // === 核心：在后端计算偏差 ===\n        const diff = intervalVal - TARGET_TIME;\n        const sign = diff > 0 ? '+' : '';\n        station.diffText = `${sign}${diff.toFixed(1)}s`;\n\n        // 简单判定逻辑标记，前端根据这个标记渲染颜色\n        // 0=快(绿), 1=慢(黄/红)\n        station.statusIdx = diff > 0 ? 1 : 0;\n\n    } else {\n        // 停机状态\n        station.diffText = '中断';\n        station.statusIdx = -1;\n    }\n\n    // 准备日志\n    processedLogs.push({\n        uniqueKey: row.id || index,\n        point: sName,\n        current: row.trigger_time,\n        interval: intervalVal !== null ? intervalVal.toFixed(1) : '--',\n        rawInterval: intervalVal,\n        // 日志里也加上偏差\n        diffStr: intervalVal ? (intervalVal - TARGET_TIME).toFixed(1) : '-',\n        timestamp: new Date(row.trigger_time).getTime()\n    });\n});\n\n// 2. 统计 (保持不变)\nfunction calcStats(arr) {\n    if (!arr.length) return { avg: '-', min: '-', max: '-' };\n    const sum = arr.reduce((a, b) => a + b, 0);\n    return {\n        avg: (sum / arr.length).toFixed(1) + 's',\n        min: Math.min(...arr).toFixed(1) + 's',\n        max: Math.max(...arr).toFixed(1) + 's'\n    };\n}\n\nconst stats = { \"all\": calcStats(globalValidIntervals) };\nconst stationList = Object.values(uniqueStations).map(s => {\n    if (s.history.length > SPARKLINE_POINTS) s.history = s.history.slice(-SPARKLINE_POINTS);\n    stats[s.name] = calcStats(s._validHistory);\n    delete s._validHistory;\n    return s;\n});\n\nconst finalLogs = processedLogs.sort((a, b) => b.timestamp - a.timestamp);\n\nmsg.payload = {\n    target_time: TARGET_TIME, // 把目标值也传给前端，前端绘图用\n    stations: stationList,\n    logs: finalLogs,\n    stats: stats\n};\n\nmsg.headers = { \"Content-Type\": \"application/json\", \"Access-Control-Allow-Origin\": \"*\" };\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 730,
        "y": 100,
        "wires": [
            [
                "a6b4e7cca4cd2ae3"
            ]
        ]
    },
    {
        "id": "a6b4e7cca4cd2ae3",
        "type": "http response",
        "z": "086840c39fd2513d",
        "name": "返回 JSON",
        "statusCode": "",
        "headers": {},
        "x": 1010,
        "y": 100,
        "wires": []
    },
    {
        "id": "fd39fa3e68b1cafe",
        "type": "postgreSQLConfig",
        "name": "",
        "host": "127.0.0.1",
        "hostFieldType": "str",
        "port": 5432,
        "portFieldType": "num",
        "database": "postgres",
        "databaseFieldType": "str",
        "ssl": "false",
        "sslFieldType": "bool",
        "applicationName": "",
        "applicationNameType": "str",
        "max": 10,
        "maxFieldType": "num",
        "idle": 1000,
        "idleFieldType": "num",
        "connectionTimeout": 10000,
        "connectionTimeoutFieldType": "num",
        "user": "postgres",
        "userFieldType": "str",
        "password": "asdf6666",
        "passwordFieldType": "str"
    },
    {
        "id": "0a1fc5041135efa9",
        "type": "global-config",
        "env": [],
        "modules": {
            "node-red-contrib-postgresql": "0.15.4"
        }
    }
]
